body{
    background-color:gainsboro;
    color:black;

    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     font-style: italic;
    
    }

 
 a{
     text-decoration:none ;
 }
 a:hover{
     color: black;
 }
 a:active{ 
     color:green;

 }
 .list li{
     display:inline;
     padding-left: 5px;
     font-style: normal;
     
     
 }
 
 .container{
     width: 80%;
     margin: auto;
      
      
      
      padding: 20px;
      margin-top: 20px;
    
 }   
.box-1{
     background-color:ghostwhite ;
}
.box-1 h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration:underline;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing:5px;
}
.box-2{
    border:3px dotted white;
    padding: 3px;
    background-color: wheat;
}

.box-2 h2{

  text-decoration: underline;
  letter-spacing:5px;
  background-color:white;
}
.box-3{
    
    

    border:5px double darkblue;
    background-color:wheat;
    border-radius: 10px;
}
.box-3 h3{
    text-align: center;
    text-decoration:underline;
}
.box-3 ul{
    list-style:lower-alpha;
   
} 
.box-3 li{
    padding-bottom: 8px;
    border-bottom:dotted 1px blue;
} 
.my-form{
    padding: 20px;
} 
.my-form .form-group{
    padding-bottom:15px ;
}
.my-form label{
    display: block;
}
.my-form input[type="text"]{
    padding: 8px;
    width: 100%;
}
.button{
    background-color: grey;
    padding: 10px;
    border: 10px 15px;
   
}
.button:hover{
    background-color:green;
}
.button:active{
    background-color: blueviolet;
}
.block{
    color: black;
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 10 px;
    text-align: center;
}
.block h4{
    color:black;
    text-align:center;
    text-decoration:underline;
}
.block p{
    background-color:grey;
}
#jimmy{
   color:black;
   padding: 10px;
}
#sidebar{
    padding: 15px;
    float: left;
}
.p-box{
    width: 800px;
    height: 500px;
    border: 10px solid black;
    position: relative;
   background-color:white;
   border-radius: 20px;
   
}
.p-box h1{
    position: absolute;
    top: 40px;
    left: 200px;
  color: black;
  
  
}
.p-box h2{
    color: black;
    text-size-adjust:10px;
    
}
.fix-me{
       position: fixed;
       top: 200px;
       letter-spacing:3px;
       border-radius: 10px;
}
.j-list{
    color: black;
    letter-spacing: 2px;
    word-spacing: 4px ;
    text-align: center;

}
.j-list li:first-child{
    background: grey;

}
.j-list li:last-child{
   background:wheat;
}
.j-list li:nth-child(even){
    background:white;
}



